Mastermind/.vs
Mastermind/Mastermind.sln
Mastermind/Mastermind.vcxproj
Mastermind/Mastermind.vcxproj.filters
Mastermind/Mastermind.vcxproj.user
Mastermind/Debug
.vs/Mastermind/v15/ipch/AutoPCH/142ade6ffd5c98c0/SCOREBOARD.ipch
.vs/Mastermind/v15/Browse.VC.db
.vs/Mastermind/v15/Browse.VC.opendb
